h1 {
    color: #0d6efd;
    background-color: transparent;

}

label {
    color: #0d6efd;
}

.form-control {
    border-radius: 20px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0077b6;
}

.ctr {
    text-align: center;
}

.container {
    background-color:white;
    border-radius: 20px;
    min-width: 400px;
}

.btnlogin {
    background-color: #0d6efd;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    min-width: 100px;
    
}